# LaTeX auxiliary files to ignore
*.aux
*.bbl
*.bcf
*.blg
*.lof
*.log
*.lot
*.fls
*.out
*.synctex.gz
*.toc
*.dvi
*.ps
*.nav
*.snm
*.vrb
*.nlo
*.nlg
*.ist
*.idx
*.ilg
*.ind
*.spl
*.glo
*.glg
*.gls
*.nls
*.run.xml
*.tdo
*.upa
*.pdf
